
.container {
  position: absolute;
  margin: 20px;
  width: auto;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  background-image: linear-gradient(#05619e, darkblue);
  color: white;
  text-align: center;
  margin-top: 100px;
}


.footer a {
  font-family: 'Roboto', sans-serif;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.footerLinks {
   text-align: center;
}
.footerLinks ul {
	padding: 0;
    list-style-type: none;
    margin: 0;
}
.footerLinks li {
	display: inline;
}
.footerLinks a {
	color: #d9d9d9;
	text-decoration: none;
	font-size: 13px;
}

.name{
  padding-right: 1%;
  text-align: right;
}

.copyright {
  text-align:right;
  margin: 0;
	color: #b3b3b3;
	font-size: 11px;
  bottom: 0px;
  padding-right: 1%;
}
